__pycache__/*
checkpoint/*
logs/*
EEG Net map.webp
ModelTrain.py
metrics/*
Conformer.py
GetDataMeanStd.ipynb
console screenshots/*
params/*
ConsoleAndFileWriter.py
exp/*
check_save.txt
pred.txt
*.ipynb
